body {
  min-width: 500px;
}

h1 {
  font-weight: bold;
  margin: 25px;
  text-align: center;
  text-transform: uppercase;
}

#display {
  font-size: 6em;
  line-height: 1em;
  padding-right: 40px;
  text-align: right;
}

#keypad .well {
  font-size: 3em;
  font-weight: bold;
  margin: 1%;
  text-align: center;
  width: 23%
}

#clear-all {
  color: white;
  background-color: orange;
}

#equals {
  color: white;
  background-color: black;
}

.operator {
  color: white;
  background-color: teal;
}

.container {
  padding: 0 25px;
}
