.dance-1 {
  .base {
    animation: bounce 0.5s infinite;
  }

  .waist {
    animation: wipe-cw-60 2s infinite;
  }

  .torso {
    animation: spring 0.5s infinite;
  }

  .accent-bar {
    animation: spring-accent-bar 0.5s infinite;
  }

  .neck {
    animation: wipe-cw-30 0.5s infinite;
  }

  .head, .eye, .mouth {
    animation: face-turn 0.5s infinite;
  }

  .left.shoulder.joint {
    animation: rotate-cw-180-rv reverse 1s infinite;
  }

  .right.shoulder.joint {
    animation: rotate-ccw-180-rv reverse 1s infinite;
  }

  .left.elbow.joint {
    animation: rotate-cw-95 1s infinite;
  }

  .right.elbow.joint {
    animation: rotate-ccw-95 1s infinite;
  }

  .left.hip.joint, .right.knee.joint {
    animation: rotate-cw-45 0.5s infinite;
  }

  .right.hip.joint, .left.knee.joint {
    animation: rotate-ccw-45 0.5s infinite;
  }
}

.dance-2 {
  .base {
    animation: jump-shift 1s infinite;
  }

  .waist {
    animation: wipe-cw-10 1s infinite;
  }

  .torso {
    animation: spring 0.5s infinite;
  }

  .accent-bar {
    animation: spring-accent-bar 0.5s infinite;
  }

  .neck { }

  .head, .eye, .mouth {
    animation: shifty 1s infinite;
  }

  .left.shoulder.joint {
    animation: wipe-cw-90-left-from-nd 1.5s infinite;
  }

  .right.shoulder.joint {
    animation: wipe-cw-90-right-from-nd 1.5s infinite;
  }

  .left.elbow.joint, .right.elbow.joint {
    animation: wipe-ccw-270 1s infinite;
  }

  .left.hip.joint, .right.hip.joint {
    animation: rotate-alt-45 1s linear infinite;
  }

  .left.knee.joint, .right.knee.joint {
    animation: rotate-alt-90-rv 1s linear infinite;
  }
}
