<div [style.width.px]="carouselWidth" class="carousel-group" (window:mouseup)="clickOut(); deactivateBtn()">
  <div class="strip">
    <h2><img src={{channel?.thumbnail.default.url}} alt="icon">{{channel?.title}}</h2>
    <h2 class="subscribe">Subscribe <span class="count">{{channel?.subscriberCount}}</span></h2>
  </div>
  <button *ngIf="carouselPosition > 0" (click)="scrollLeft()" class="carousel-btn left" type="button">
    <svg viewBox="0 0 24 24">
      <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
    </svg>
  </button>
  <button *ngIf="carouselPosition < (maxCarouselPositions - 6 + videos.length)" (click)="scrollRight()" class="carousel-btn right" type="button">
    <svg viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
    </svg>
  </button>
  <div class="carousel-outer">
    <div [class]="getCarouselPosition()" class="carousel-inner">
      <div *ngFor="let video of videos" (mouseleave)="clearClicker()" class="video">
        <img (click)="loadVideo(video)" width="210" src={{video.thumbnail}} alt="thumbnail image">
        <div class="info">
          <div (mousedown)="protectClick()" [class]="optionsOpen(video.id)" class="options-panel">
            <ul class="options-list">
              <li (click)="addToFavorites(video); closeMenu()">Add to Favorites</li>
              <li (click)="closeMenu()">Watch Later</li>
            </ul>
          </div>
          <button (mousedown)="activateBtn(video.id); protectClick()" (click)="optionSelect(video.id)" [class]="optionsActive(video.id)" class="circle-btn-sm" type="button">
            <div [class]="checkClicker(video.id)" class="circle-sm"></div>
            <svg viewBox="0 0 24 24">
              <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" class="style-scope yt-icon"></path>
            </svg>
          </button>
          <h3 (click)="loadVideo(video)">{{video.title}}</h3>
          <p>{{video.channelTitle}}</p>
          <p>{{video.viewCount}} views</p>
        </div>
      </div>
    </div>
  </div>
</div>
