@mixin flex-split-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-split-between-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-split-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flex-split-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-distribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin grid-columns-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@mixin grid-columns-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

@mixin grid-columns-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
