<div class="wrapper">
  <h3>Volunteer</h3>
  <p class="text">
    Did you know that the tool library operates with no paid staff and is a 100% volunteer-driven effort? We are currently looking for more wonderful people to help out.
  </p>

  <div class="text-wrap">
    <div class="image"><img [src]="'/assets/img/chris.jpg'" alt=""></div>
    <div class="text-container">
      <p class="text">
        Volunteers are needed to cover shifts on <strong>Saturdays 9-2 and Tuesdays and Wednesdays 5:30pm-7:30pm</strong>.
      </p>
      <p class="text">
        Shifts are about 2-3 hours long – and there is always another volunteer to help make the time fly by quickly.  Many of our volunteers sign up for one shift a month, which helps share the work and keep the tool library open.
      </p>
      <p class="text">
        You do not need any prior knowledge about tools, only a willingness to help out.  Who knows, you may just learn a few things about home repair yourself!  It is also a great way to meet your NE neighbors and connect with the community. Volunteers must be at least 16 years old to volunteer.
      </p>
      <p class="text">
        Check out our <a href="https://calendar.google.com/calendar/embed?src=info%25neptl.org%40gtempaccount.com&ctz=America/Los_Angeles" class="text-link" target="_blank">Online Calendar</a>  for available shift openings and email <a href="mailto:volunteer@neptl.org" class="text-link" target="_blank">volunteer@neptl.org</a> if you would like to sign up for a shift!
      </p>
      <p class="text">
        You can not edit the calendar yourself, so please email to sign up for a shift. Thank you!!
      </p>

      <iframe src="https://calendar.google.com/calendar/embed?src=info%25neptl.org%40gtempaccount.com&ctz=America/Los_Angeles" frameborder="0" class="calendar-widget" width="100%"></iframe>
    </div>
  </div>
</div>
