#contact {
  h3, h5 {
    margin: 10px 0;
    line-height: normal;
  }

  p {
    max-width: 300px;
    margin: 0 auto 20px;
    line-height: 1.3rem;
  }

  .robot {
    width: 150px;
    margin: 30px auto;

  }

  article {
    text-align: center;
  }
}
