
<div class="tools-contain">

  <div class="card" style="width: 18rem;">
    <a routerLink="/tool-info">
      <img class="card-img-top" src="../../assets/tools-list/garden.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Gardening Tools</p>
      </div>
    </a>
  </div>
  <div class="card" style="width: 18rem;">
    <a routerLink="/tool-info">
      <img class="card-img-top" src="../../assets/tools-list/carp-wood.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Carpentry and Woodworking</p>
      </div>
    </a>

  </div>
  <div class="card" style="width: 18rem;">
    <a routerLink="/tool-info">
      <img class="card-img-top" src="../../assets/tools-list/floor-wall.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Floor and Wall</p>
      </div>
    </a>
  </div>
  <div class="card" style="width: 18rem;">
    <a routerLink="/tool-info">
      <img class="card-img-top" src="../../assets/tools-list/plumbing.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Plumbing</p>
      </div>
    </a>
  </div>
  <div class="card" style="width: 18rem;">
    <a routerLink="/tool-info">
      <img class="card-img-top" src="../../assets/tools-list/electrical.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Electrical (NOT powertools)</p>
      </div>
    </a>
  </div>
  <div class="card" style="width: 18rem;">
    <a routerLink="/tool-info">
      <img class="card-img-top" src="../../assets/tools-list/auto-repair.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Automotive</p>
      </div>
    </a>
  </div>
  <div class="card" style="width: 18rem;">
    <a routerLink="/tool-info">
      <img class="card-img-top" src="../../assets/tools-list/bike-service.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Bicycle</p>
      </div>
    </a>
  </div>
  <div class="card" style="width: 18rem;">
    <a routerLink="/tool-info">
      <img class="card-img-top" src="../../assets/tools-list/tiling.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Tiling</p>
      </div>
    </a>
  </div>
  <div class="card" style="width: 18rem;">
    <a routerLink="/tool-info">
      <img class="card-img-top" src="../../assets/tools-list/ladders.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Ladders</p>
      </div>
    </a>
  </div>
  <div class="card" style="width: 18rem;">
    <a routerLink="/tool-info">
      <img class="card-img-top" src="../../assets/tools-list/clamps.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Clamps</p>
      </div>
    </a>
  </div>

  <div class="card" style="width: 18rem;">
    <a routerLink="/tool-info">
      <img class="card-img-top" src="../../assets/tools-list/power-tool-accessories.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Power Tool Accessories</p>
      </div>
    </a>
  </div>

  <div class="card" style="width: 18rem;">
  <a routerLink="/tool-info">
    <img class="card-img-top" src="../../assets/tools-list/miscellaneous.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Miscellaneous</p>
    </div>
  </a>
  </div>

</div>
