<div *ngIf="childSelectedTask" class="card">
  <div class="card-header text-center text-uppercase">
    <strong>Edit Task</strong>
  </div>
  <div class="card-body">
    <h4>{{childSelectedTask.description}}</h4>
    <p><strong>Task Complete:</strong> {{childSelectedTask.done}}</p>
    <div class="form-group">
      <label>Description</label>
      <input [(ngModel)]="childSelectedTask.description" class="form-control">
    </div>
    <label>Priority</label>
    <div class="radio">
      <input type="radio" [(ngModel)]="childSelectedTask.priority" value="1">1 (Low Priority)
    </div>
    <div class="radio">
      <input type="radio" [(ngModel)]="childSelectedTask.priority" value="2">2 (Medium Priority)
    </div>
    <div class="radio">
      <input type="radio" [(ngModel)]="childSelectedTask.priority" value="3">3 (High Priority)
    </div>
    <button (click)="finishedEditing()" class="btn btn-primary">Done</button>
  </div>
</div>
