* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes head-turn {
  0% {
    -webkit-transform: translate(-5px, -1px);
    transform: translate(-5px, -1px);
  }
  50% {
    -webkit-transform: translate(5px, 1px);
    transform: translate(5px, 1px);
  }
  100% {
    -webkit-transform: translate(-5px, -1px);
    transform: translate(-5px, -1px);
  }
}
@keyframes head-turn {
  0% {
    -webkit-transform: translate(-5px, -1px);
    transform: translate(-5px, -1px);
  }
  50% {
    -webkit-transform: translate(5px, 1px);
    transform: translate(5px, 1px);
  }
  100% {
    -webkit-transform: translate(-5px, -1px);
    transform: translate(-5px, -1px);
  }
}
@-webkit-keyframes rotate-cw-180 {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes rotate-cw-180 {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@-webkit-keyframes rotate-ccw-180 {
  0% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}
@keyframes rotate-ccw-180 {
  0% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}
@-webkit-keyframes rotate-cw-90 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(95deg);
    transform: rotate(95deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotate-cw-90 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(95deg);
    transform: rotate(95deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes rotate-ccw-90 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-95deg);
    transform: rotate(-95deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotate-ccw-90 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-95deg);
    transform: rotate(-95deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes rotate-cw-45 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotate-cw-45 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes rotate-ccw-45 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotate-ccw-45 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.base {
  animation: bounce 0.5s infinite;
}

.head, .eye, .mouth {
  animation: head-turn 0.5s infinite;
}

.left.shoulder.joint {
  animation: rotate-cw-180 reverse 1s infinite;
}

.right.shoulder.joint {
  animation: rotate-ccw-180 reverse 1s infinite;
}

.left.elbow.joint {
  animation: rotate-cw-90 1s infinite;
}

.right.elbow.joint {
  animation: rotate-ccw-90 1s infinite;
}

.left.hip.joint {
  animation: rotate-cw-45 0.5s infinite;
}

.right.hip.joint {
  animation: rotate-ccw-45 0.5s infinite;
}

.left.knee.joint {
  animation: rotate-ccw-45 0.5s infinite;
}

.right.knee.joint {
  animation: rotate-cw-45 0.5s infinite;
}

.robot .base {
  position: relative;
}
.robot .joint, .robot .torso, .robot .head, .robot .eye, .robot .mouth, .robot .arm, .robot .leg {
  position: absolute;
}
.robot .base {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #0ff;
}
.robot .joint {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #0ff;
}
.robot .visible.joint {
  top: -10px;
}
.robot .left.shoulder.joint {
  top: 0;
  left: -25px;
}
.robot .right.shoulder.joint {
  top: 0;
  right: -25px;
}
.robot .elbow.joint, .robot .knee.joint {
  bottom: -10px;
}
.robot .hip.joint {
  bottom: -25px;
}
.robot .left.hip.joint {
  left: 0;
}
.robot .right.hip.joint {
  right: 0;
}
.robot .torso {
  height: 100px;
  width: 50px;
  top: -75px;
  transform-origin: bottom center;
  z-index: 10;
}
.robot .head {
  height: 40px;
  width: 40px;
  top: -45px;
  left: 5px;
}
.robot .eye {
  height: 5px;
  width: 5px;
  top: 10px;
  border-radius: 100%;
}
.robot .left.eye {
  left: 10px;
}
.robot .right.eye {
  right: 10px;
}
.robot .mouth {
  height: 10px;
  width: 20px;
  left: 10px;
  bottom: 10px;
  border-radius: 0 0 10px 10px;
}
.robot .arm {
  height: 75px;
  width: 20px;
  top: 10px;
}
.robot .leg {
  height: 100px;
  width: 20px;
  top: 10px;
}
.robot .accent-bar, .robot .base, .robot .eye, .robot .mouth, .robot .visible.joint {
  background-color: #f3b;
}
.robot .torso, .robot .head, .robot .arm, .robot .forearm, .robot .leg {
  background-color: #6e8;
}
.robot .accent-bar {
  height: 5px;
  width: 100%;
  position: absolute;
  top: 15px;
}

/*# sourceMappingURL=styles.css.map */
