* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 100%;
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
}

#wrapper {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes face {
  0% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  50% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
}
@keyframes face {
  0% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  50% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
}
@-webkit-keyframes head {
  0% {
    -webkit-transform: translate(-5px, -1px);
    transform: translate(-5px, -1px);
  }
  50% {
    -webkit-transform: translate(5px, 1px);
    transform: translate(5px, 1px);
  }
  100% {
    -webkit-transform: translate(-5px, -1px);
    transform: translate(-5px, -1px);
  }
}
@keyframes head {
  0% {
    -webkit-transform: translate(-5px, -1px);
    transform: translate(-5px, -1px);
  }
  50% {
    -webkit-transform: translate(5px, 1px);
    transform: translate(5px, 1px);
  }
  100% {
    -webkit-transform: translate(-5px, -1px);
    transform: translate(-5px, -1px);
  }
}
@-webkit-keyframes spring {
  0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@keyframes spring {
  0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@-webkit-keyframes left-arm {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes left-arm {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@-webkit-keyframes right-arm {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes right-arm {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes left-forearm {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes left-forearm {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@-webkit-keyframes right-forearm {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes right-forearm {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes left-leg {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes left-leg {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes left-leg-lower {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes left-leg-lower {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes right-leg {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes right-leg {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes right-leg-lower {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes right-leg-lower {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.bar, .base, .eye, .mouth, .joint {
  background-color: #f3b;
}

.body, .head, .arm, .forearm, .leg {
  background-color: #6e8;
}

.robot.base {
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 100%;
  animation: bounce 0.5s infinite;
}

.robot .body {
  height: 100px;
  width: 50px;
  position: absolute;
  top: -75px;
}

.robot .bar {
  height: 5px;
  width: 100%;
  position: absolute;
}

.robot .bar.one {
  top: 30px;
}

.robot .bar.two {
  top: 45px;
}

.robot .bar.three {
  top: 60px;
}

.robot .head {
  height: 40px;
  width: 40px;
  position: absolute;
  top: -45px;
  left: 5px;
  animation: head 0.5s infinite;
}

.robot .eye {
  height: 5px;
  width: 5px;
  position: absolute;
  top: 10px;
  border-radius: 100%;
}

.robot .eye.left {
  left: 10px;
  animation: face 0.5s infinite;
}

.robot .eye.right {
  right: 10px;
  animation: face 0.5s infinite;
}

.robot .mouth {
  height: 10px;
  width: 20px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  border-radius: 0 0 10px 10px;
  animation: face 0.5s infinite;
}

.robot .arm {
  height: 75px;
  width: 20px;
  position: absolute;
  top: 10px;
  transform-origin: 10px 0px;
}

.robot .joint {
  height: 20px;
  width: 20px;
  position: absolute;
  top: -10px;
  border-radius: 100%;
}

.robot .arm.left {
  left: -25px;
  animation: left-arm 1s infinite;
}

.robot .arm.right {
  right: -25px;
  animation: right-arm 1s infinite;
}

.robot .forearm {
  height: 75px;
  width: 20px;
  position: absolute;
  bottom: -75px;
  transform-origin: 10px 0px;
}

.robot .forearm.left {
  animation: left-forearm 1s infinite;
}

.robot .forearm.right {
  animation: right-forearm 1s infinite;
}

.robot .leg {
  height: 100px;
  width: 20px;
  position: absolute;
  bottom: -95px;
  transform-origin: 10px 0px;
}

.robot .leg.left {
  left: -5px;
  animation: left-leg 0.5s infinite;
}

.robot .leg.right {
  right: -5px;
  animation: right-leg 0.5s infinite;
}

.robot .leg.lower.left {
  left: 0px;
  animation: left-leg-lower 0.5s infinite;
}

.robot .leg.lower.right {
  right: 0px;
  animation: right-leg-lower 0.5s infinite;
}

/*# sourceMappingURL=styles.css.map */
