h1 {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 5em;
  text-transform: uppercase;
}

h2, h3, h4 {
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
}

table {
  border: 1px solid #000;
}

td {
  height: 110px;
  width: 110px;
  text-align: center;
}

img {
  max-width: 100%;
}

.btn {
  margin: 5px 0;
}

.display-none {
  display: none;
}

img.left {
  transform: scaleX(-1);
}

#gameboard, #navigation {
  margin: 20px auto;
}

#status {
  background-image: url('img/bowel-meter.png');
  height: 140px;
  margin: 0 auto 15px;
  padding: 50px 70px;
  overflow: auto;
  width: 800px;
}

#status h3 {
  float: left;
  font-weight: bold;
  margin: 6px 10px;
}

#meter {
  background-color: #5cf9a2;
  height: 40px;
}

#meter.warning {
  background-color: #f6f95c;
}

#meter.danger {
  animation: pulse 1s infinite;
  background-color: #ff0000ff;
}

#controls, #controls .row {
  margin: 0 auto;
  width: 250px;
}

#controls .col-xs-4 {
  margin: 0;
  padding: 0;
}

#controls .toggle {
  width: 97%;
}

#controls .movement {
  height: 30px;
  line-height: 1;
  margin: 4px 0px;
  width: 75px;
}

/* Animations */
@keyframes pulse {
  50% {background-color: #ff000000;}
}

/* Game Board Obstructions */
.barrier {
  background-color: black;
}

.wall-left {
  border-left: 5px solid black;
}

.wall-right {
  border-right: 5px solid black;
}

.wall-up {
  border-top: 5px solid black;
}

.wall-down {
  border-bottom: 5px solid black;
}
