<div class="footer-container-outer">
  <div class="footer-container-inner">

    <div class="footer-left-nav">
      <img [src]="'/assets/img/logo-footer.png'" alt="">
    </div>

    <div class="footer-center-nav">
      <p class="footer-big-link"><a href="#">become a member.</a></p>
      <p class="footer-big-link"><a href="#">become a volunteer.</a></p>
      <p class="footer-big-link"><a href="#">donate today.</a></p>
    </div>

    <div class="footer-right-nav">
      <ul class="list-unstyled footer-right-nav-list">
        <li class="footer-right-nav-list-item">
          <a class="footer-right-nav-list-item-link" href="#">home</a>
        </li>
        <li class="footer-right-nav-list-item">
          <a class="footer-right-nav-list-item-link" href="#">what is a tool library</a>
        </li>
        <li class="footer-right-nav-list-item">
          <a class="footer-right-nav-list-item-link" href="#">membership</a>
        </li>
        <li class="footer-right-nav-list-item">
          <a class="footer-right-nav-list-item-link" href="#">volunteer</a>
        </li>
      </ul>
      <ul class="list-unstyled footer-right-nav-list">
        <li class="footer-right-nav-list-item">
          <a class="footer-right-nav-list-item-link" href="#">tools</a>
        </li>
        <li class="footer-right-nav-list-item">
          <a class="footer-right-nav-list-item-link" href="#">group loans</a>
        </li>
        <li class="footer-right-nav-list-item">
          <a class="footer-right-nav-list-item-link" href="#">about</a>
        </li>
        <li class="footer-right-nav-list-item">
          <a class="footer-right-nav-list-item-link" href="#">contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
