<div class="footer-container-outer">
  <div class="footer-container-inner">

    <div class="footer-left-nav">
      <img [src]="'/assets/img/logo-footer.png'" alt="">
    </div>

    <div class="footer-center-nav">
      <p class="footer-big-link"><a href="#">become a member.</a></p>
      <p class="footer-big-link"><a href="#">become a volunteer.</a></p>
      <p class="footer-big-link"><a href="#">donate today.</a></p>
    </div>

    <div class="footer-right-nav">
      <ul class="list-unstyled footer-right-nav-list">
        <li class="footer-right-nav-list-item">home</li>
        <li class="footer-right-nav-list-item">what is a tool library</li>
        <li class="footer-right-nav-list-item">membership</li>
        <li class="footer-right-nav-list-item">volnteer</li>
      </ul>
      <ul class="list-unstyled footer-right-nav-list">
        <li class="footer-right-nav-list-item">tools</li>
        <li class="footer-right-nav-list-item">group loans</li>
        <li class="footer-right-nav-list-item">about</li>
        <li class="footer-right-nav-list-item">contact</li>
      </ul>
    </div>
  </div>
</div>
