button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.contact {
  padding: 5px 15px 7px;
  border-radius: 15px;
  background-color: $primary-color-1;
  color: #fff;
}
