<nav class="navbar navbar-expand">
  <div class="nav">
    <svg id="menu-icon" viewBox="0 0 24 24"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" class="style-scope yt-icon"></path></svg>
  </div>
  <div class="nav">
    <a class="navbar-brand" routerLink="">YouTube</a>
  </div>
  <div id="search" class="nav justify-content-center">
    <div class="btn-group">
      <input class="form-control" type="text" placeholder="Search">
      <button class="btn" type="button">
        <svg viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg>
      </button>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
