nav{
  box-shadow: 0 2px 5px #0001;
}

#red-block {
  background-color: #f00;
  border-radius: 5px;
  display: inline-block;
  height: 17px;
  margin-right: 3px;
  width: 33px;
}

a.navbar-brand {
  align-items: center;
  color: #000;
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0 0 0 -5px;
  transform: scaleX(0.75);
}

a.navbar-brand span {
  letter-spacing: -2.5px;
}

.circle-btn {
  background-color: #ddd0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height:40px;
  margin-right: 8px;
  width: 40px;
}

.circle-btn:hover {
  background-color: #ddd;
}

.circle-btn:focus   {
  outline: none;
}

.circle-btn svg {
  fill: #999;
  height: 24px;
  position: relative;
  top: 3px;
  width: 24px;
}

#search svg {
  height: 20px;
  width: 20px;
}

#search {
  height: 32px;
  width: 100%;
}

#search .btn-group {
  max-width: 640px;
  width: 80%;
}

#search .form-control {
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 2px 0 0 2px;
  padding: 0.25em 0.75em;
}

#search .btn {
  border: 1px solid #808080;
  border-radius: 0 2px 2px 0;
  background-color: #eee;
  opacity: 0.5;
  width: 75px;
}

#search .btn:hover {
  background-color: #ddd;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 1px #ccc;
  opacity: 0.7;
}

#sign-in a {
  color: #f00;
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: -0.2px;
  margin: 0 5px 0 16px;
  text-transform: uppercase;
  width: 60px;
}

#sign-in a:hover {
  text-decoration: none;
}
