label {
  font-weight: bold;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  text-transform: uppercase;
  width: 50%;
}

.card {
  margin: 10px;
}

.card-header {
  text-align: center;
}
