@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Open+Sans:300,400');

/* BASE STYLES */

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1rem;
  margin: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0;
}

#main {
  padding: 100px 50px 50px;
}
