<!-- NAVBAR -->
<nav id="navbar">
  <h1><a class="navbar-brand" routerLink="">Tool Library</a></h1>
  <div id="nav-links" class="nav">
    <a *ngIf="user === null" routerLink="login">Login</a>
    <a *ngIf="user === null" routerLink="register">Register</a>
    <a *ngIf="user !==null" routerLink="dashboard">Dashboard</a>
    <a *ngIf="user !==null" routerLink="" (click)="signOut()">Sign Out</a>
  </div>
</nav>
<!-- CONTENT -->
<div id="main" class="container-fluid">
  <router-outlet></router-outlet>
</div>
