footer {
  margin-top: 50px;
  background-color: $dark;

  .container {
    @include flex-column-distribute;
    height: 100px;
    padding: 25px;

    @media screen and (min-width: 650px) {
      @include flex-split-between-reverse;
      height: auto;
      max-width: 1000px;
      padding: 25px 50px;
    }
  }

  h1, h4 {
    color: $light;
  }

  h1 span {
    color: $primary-color-1;
    font-size: 1.25rem;
    text-transform: capitalize;
  }
}
