// CLASS GROUPS

.container {
  padding: 85px 20px 0;
}

.btn-group {
  @include flex-split-around
}

// HTML GROUPS

article {
  padding: 20px 0;

  h1 {
    text-align: center;
  }

  ul {
    margin: 20px 50px;
  }

  li {
    @include flex-split-left;
    margin: 20px 0;
  }

  button {
    margin-right: 20px;
  }
}


// HTML ELEMENTS

img {
  display: block;
}
