// CLASS GROUPS

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 85px 20px 0;

  @media screen and (min-width: 1000px) {
    max-width: 1200px;
  }
}

.list-section {
  article {
    max-width: 400px;
  }

  @media screen and (min-width: 650px) {
    @include grid-columns-2;
  }

  @media screen and (min-width: 1000px) {
    @include flex-column-left;

    article {
      max-width: none;
      width: 100%;
      margin: 0;
    }

    h1 {
      text-align: left;
    }

    ul {
      @include grid-columns-3;
    }
  }
}

.btn-group {
  @include flex-split-around
}

// HTML ELEMENT & GROUPS

article {
  margin: 0 auto;
  padding: 5px 0;

  h1 {
    text-align: center;
  }

  ul {
    margin: 10px;
  }

  li {
    @include flex-split-left;
    margin: 15px;
  }

  button {
    margin-right: 20px;
  }
}

img {
  display: block;
}
