img {
  display: block;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 85px 20px 0;
}

.content {
  h1 {
    text-align: center;
  }

  @media screen and (min-width: 650px) {
    h1 {
      margin-left: 20px;
      text-align: left;
    }
  }

  @media screen and (min-width: 1000px) {
    max-width: 1200px;
    padding: 85px 50px 0;
  }
}

article {
  max-width: 300px;
  margin: 40px auto 40px;
  padding-left: 20px;

  .icon-title {
    @include flex-split-left;

    img {
      width: 50px;
      margin-right: 10px;
    }
  }

  h5 {
    margin: 20px 0 20px 20px;
  }

  p {
    margin: 10px 0 10px 40px;
  }

  ul {
    margin: 10px;
  }

  li {
    margin: 10px 0 10px 50px;
    list-style: square;
  }
}

section.flexible {
  @media screen and (min-width: 650px) {
    @include grid-columns-2;
  }

  @media screen and (min-width: 1000px) {
    @include grid-columns-3;
  }
}
