.workspace {
  position: relative;
  height: 200px;
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-blend-mode: luminosity;

  h3 {
    width: 250px;
    margin: 10px auto;
    padding: 5px 10px 7px;
    border-radius: 25px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }
}

.workspace.pre-prod {
  background-color: $primary-color-2;
  background-image: url('/img/pre-production.jpg');

  h3 {
    background-color: transparentize(darken($primary-color-2, 20%), 0.3);
  }

  img {
    position: absolute;
    left: 20px;
    bottom: -10px;
    transform: scale(-2,2);
  }
}

.workspace.prod {
  background-color: $primary-color-1;
  background-image: url('/img/production.jpg');

  h3 {
    background-color: transparentize(darken($primary-color-1, 20%), 0.3);
  }

  img {
    position: absolute;
    left: 47%;
    top: 53%;
    transform: scale(1.5);
  }
}

.workspace.post-prod {
  background-color: $primary-color-3;
  background-image: url('/img/post-production.jpg');

  h3 {
    background-color: transparentize(darken($primary-color-3, 20%), 0.3);
  }

  img {
    position: absolute;
    right: 20px;
    bottom: -10px;
    transform: scale(2);
  }
}
