nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 10px 25px #fff;

  ul {
    @include flex-split-between;
  }

  li {
    padding: 0 20px;
    list-style: none;
    cursor: pointer;
  }
}
