#splash-screen {
  @include flex-column-center;
  padding-bottom: 20px;

  .group {
    @include flex-column-center;
    height: 200px;
  }

  .robots {
    margin-bottom: 20px;
  }

  .btn-group {
    width: 280px;
  }

  @media screen and (min-width: 1000px) {
    h2 {
      font-size: 2rem;
    }

    h6 {
      font-size: 1.4rem;
    }

    .btn-group {
      display: none;
    }
  }
}
