<div class="wrapper">
  <h3>Donate</h3>
  <p class="text">
    The Northeast Portland Tool Library is a 501(c)(3) organization. The Northeast Portland Tool Library provides Northeast Portland residents of all income levels access to tools, empowering our neighbors to build and maintain a sustainable, thriving community.
  </p>

  <div class="text-wrap">
    <div class="image"><img [src]="'/assets/img/chuck.jpg'" alt=""></div>
    <div class="text-container">
      <p class="text">
        Our hours are Saturdays 9am – 2pm and Tuesdays and Wednesdays 5:30pm-7:30pm. We are closed some major holiday or holiday weekends.
      </p>
      <p class="text">
        Currently our membership is limited to residents of NE Portland west of NE 82nd Ave.
      </p>
      <p class="text">
        A 501(c)(3) charity.  Tax ID: 81-4993759
      </p>
      <p class="text">
        Location:<br>
      <a href="https://www.google.com/maps/dir/45.5548829,-122.667712/Leaven+Community%2FSalt+%26+Light+Lutheran+Church+ELCA+5431+Northeast+20th+Avenue/@45.5586438,-122.6651558,15z/data=!3m1!4b1!4m15!1m6!3m5!1s0x0:0xeff3f18e90ffc3df!2sLeaven+Community%2FSalt+%26+Light+Lutheran+Church+ELCA!8m2!3d45.5623984!4d-122.6451283!4m7!1m0!1m5!1m1!1s0x5495a6e1b87a6361:0xeff3f18e90ffc3df!2m2!1d-122.6451283!2d45.5623984?hl=en" class="text-link">
        Leaven Community Center/Salt and Light Lutheran Church<br>
        5431 NE 20th Avenue<br>
        Portland, OR 97211<br></a>
      </p>
    </div>
  </div>
</div>
