<nav id="navbar">
  <div class="navbar-header">
      <h1 class="underline-link"><a class="navbar-brand" routerLink="">Tool Library</a></h1>
  </div>
  <div class="hide-nav-wrapper" *ngIf="toggleNavBar"  (window:resize)="onResize($event)">
    <div class="nav" id="nav-links">
      <div class="underline-link">
        <a class="underline-link nav-link" routerLink="login">Login</a>
      </div>

      <div class="underline-link">
        <a class="underline-link nav-link" href="#">Register</a>
      </div>

      <div class="underline-link">
        <a class="underline-link nav-link" routerLink="dashboard">Dashboard</a>
      </div>
    </div>
    <div id="search">
      <input class="form-control" placeholder="Search">
      <button class="btn btn-primary">Search</button>
    </div>
  </div>

  <div class="mobile-nav-wrapper" (window:resize)="onResize($event)" *ngIf="toggleMobileNavBar">
    <div class="mobile-nav" id="mobile-nav-links">
      <div class="underline-link">
        <a class="underline-link mobile-nav-link" routerLink="login">Login</a>
      </div>

      <div class="underline-link">
        <a class="underline-link mobile-nav-link" href="#">Register</a>
      </div>

      <div class="underline-link">
        <a class="underline-link mobile-nav-link" routerLink="dashboard">Dashboard</a>
      </div>
    </div>
    <div id="search">
      <input class="form-control" placeholder="Search">
      <button class="btn btn-primary">Search</button>
    </div>
  </div>


</nav>
