body {
  min-width: 475px;
}

h1 {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

button {
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  padding: 25px;
  width: 95%;
}
