<div (window:mouseup)="clickOut(); deactivateBtn()" class="container">
  <div *ngFor="let video of videos" (mouseleave)="clearClicker()" class="video">
    <img (click)="loadVideo(video)" src={{video.thumbnail}} alt="thumbnail image">
    <div class="info">
      <h2 (click)="loadVideo(video)">{{video.title}}</h2>
      <p>{{video.channelTitle}} &bull; {{video.viewCount}} views</p>
      <p>{{video.description}}</p>
    </div>
    <button (mousedown)="activateBtn(video.id); protectClick()" (click)="optionSelect(video.id)" [class]="optionsActive(video.id)" class="circle-btn-sm" type="button">
      <div [class]="checkClicker(video.id)" class="circle-sm"></div>
      <svg viewBox="0 0 24 24">
        <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" class="style-scope yt-icon"></path>
      </svg>
    </button>
    <div (mousedown)="protectClick()" [class]="optionsOpen(video.id)" class="options-panel">
      <ul class="options-list">
        <li (click)="addToFavorites(video); closeMenu()">Add to Favorites</li>
        <li (click)="addToWatchList(video); closeMenu()">Watch Later</li>
      </ul>
    </div>
  </div>
</div>
