#contact {
  h1 {
    margin: 30px 0 20px;
  }

  h3, h5 {
    margin: 10px 0;
    line-height: normal;
  }

  p {
    max-width: 280px;
    margin: 0 auto 20px;
    line-height: 1.3rem;
  }

  .robot {
    width: 150px;
    margin: 30px auto;
  }

  article {
    padding: 0;
    text-align: center;
  }
}
