<div class="wrapper">
  <h3>Membership</h3>
  <p class="text">
    Members can check out up to seven tools per week from the library during our Tuesday, Wednesday, or Saturday hours.</p>
  <p class="text">
    Tools are due back 1 week (7 days) after check out and should be returned by 6:30pm on Tuesdays or Wednesdays and 10:00 am on Saturdays or else late fees will be charged.</p>

    <p class="text center-text">
      <span class="blockquote">Late fee is $2 per late tool per week. $5 per week for table saws and welders.</span>
    </p>

    <p class="text">
      Members may renew tools one time if the tool is not in high demand. To renew, the tool must be brought into the library.
    </p>


  <div class="text-wrap">
    <div class="image"><img [src]="'/assets/img/tool-time.jpg'" alt=""></div>
    <div class="text-container">
      <p class="text">
        Before being allowed to borrow, you must read and sign the <a href="/assets/img/NEPTLWaiver.1.2018.pdf" class="text-link" target="_blank">Northeast Portland Tool Library Lending Policy Agreement</a>, fill out and sign an application and waiver and present acceptable proof of identify and a separate proof of residency. Proof of identity can be a driver’s license, passport, or other government-issued identification with photo. Proof of residency can be a utility bill, mortgage statement, lease agreement, car-insurance or registration card, or similar document that shows a current address in our Northeast Portland service area (currently any NE address west of NE 82nd Ave).
      </p>
      <p class="text center-text">
        <span class="blockquote-link">
          <a routerLink="/register">To Become a Member: Sign Up Online</a>
        </span>
      </p>
      <p class="text">
        OR come into the library and fill out the Membership Application in person.
      </p>
      <p class="text center-text">
        <span class="blockquote-link">
          <a href="/assets/img/NEPTLWaiver.1.2018.pdf" class="text-link" target="_blank">Membership Application</a>
        </span>
      </p>
      <p class="text">
        In addition to a wide assortment of hand tools, members can check out a select number of electric power tools. For safety and liability reasons, we do not lend out gas-powered tools or tools that contain or use hazardous materials.
      </p>
      <p class="text">
        Also, only members presenting valid member numbers can check out tools. You can’t share your membership or have others check out tools for you.
      </p>
    </div>
  </div>
</div>
