<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

<div class="tools-contain">
  <div *ngFor="let tool of tools"  class="toolsList">
    <div class="toolItemHeader">
      <span title="title" class="toolName" style="cursor: pointer;">{{tool.title}}
        <p class="avail-y" attr.data-value="{{tool.status}}">{{tool.status}}</p>
        <span class="icon-zip-up">
          <div class="collapsed" data-toggle="collapse" attr.data-target="#{{tool.pk}}" aria-expanded="false" attr.aria-controls="{{tool.pk}}"></div>
        </span>
      </span>
    </div>
    <div>
      <ul class="collapse ulist" attr.id="{{tool.pk}}">
        <li><span id="ulBold">Descr:</span>  {{tool.description}} </li>
        <li><span id="ulBold">Brand:</span> {{tool.brand}} </li>
        <li><span id="ulBold">Late Fine:</span> {{tool.lateFee}}</li>
        <li><span id="ulBold">Due Date:</span> {{tool.dueDate}}</li>
      </ul>
      <img class="card-img-bottom"  attr.src="{{tool.imgUrl}}" alt="Card image cap">
    </div>
  </div>

</div>
